:root{
   --primary: tomato;
   --bg-color:lightgrey;
   --main-padding: .5rem;
}
body{
  margin: 0;
  background-color: var(--bg-color);
}
a{
  color: var(--primary);
}
input{
  padding: var(--main-padding0
  );
  border-radius: 1rem;
  border: 2px solid var(--primary);
}
button{
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primary);
}
.exceptionally-blue{
  --primary: blue;
  --main-padding: 
}
