:root{
  --primary:rgb(125, 125, 255);
}
body{
  margin: 0;
  background-color: lightgrey;
}
a{
  color: var(--primary);
}
input{
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--primary);
}
button{
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primary);
}